body {
    background-color: #efb88fe6;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-family: sans-serif;
}

.jatek-kontener {
    border: 5px solid #ff4d4d;
    border-radius: 50px;
    padding: 30px;
    width: 850px; 
    min-height: 500px;
    background-color: #fdf8f8;
}

.fejlec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
}

.beallitas {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #f39c12;
    font-weight: bold;
    font-size: 20px;
}

input[type=range] {
    accent-color: #f39c12;
    width: 150px;
}

#keveres-btn {
    background-color: #ffeb3b;
    border: 2px solid #fbc02d;
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 0 #fbc02d;
    transition: transform 0.1s;
}

#keveres-btn:hover {
    transform: scale(1.05);
}

#keveres-btn:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #fbc02d;
}

.fruit-mix-logo img {
    height: 150px;
    width: auto;
    display: block;
}

.valaszto-vonal {
    border: none;
    border-top: 3px solid #ff4d4d;
    margin: 20px 0 40px 0;
}

#palya {
    display: flex;
    flex-wrap: wrap;
    gap: 25px; 
    justify-content: center;
}

.statisztika {
    font-size: 1.2rem;
    font-weight: bold;
    color: #f39c12;
    margin: 10px 0;
}

.kartya {
    width: 100px;
    height: 100px;
    perspective: 1200px; 
    cursor: pointer;
}

.kartya-belso {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.kartya.fordit .kartya-belso {
    transform: rotateY(180deg);
}

.kartya-eleje, .kartya-hatulja {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #a2ef44;
    backface-visibility: hidden; 
    font-size: 40px;
}

.kartya-hatulja {
    background-color: #ff4d4d;
    color: white;
}

.kartya-eleje {
    background-color: white ; 
    color: black;
    transform: rotateY(180deg); 
}

.kartya:not(.fordit):not(.talalat):hover .kartya-belso {
    transform: scale(1.05); 
}